.ProjectsBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    padding: 50px 10px;
    background: var(--backgroundAlt);
}

.projects {
    
    &Heading {
        color: var(--main);
        font-family: var(--font);
        font-size: 36px;
        opacity: 0.9;
    }

    &Cont {
        display: grid;
        align-items: center;
        gap: 25px;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        width: fit-content;
    }
}

@media (max-width: 768px) {
    .projectsCont {
        grid-template-columns: 1fr;
    }
}