.ContactsBlock {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 50px 10px;
    background: var(--sub);
}

.contacts {
    &Info {
        max-width: 500px;
        width: 100%;
        color: var(--textAlt);
        font-family: var(--font);
        font-size: 30px;
        opacity: 0.9;

        & > span {
            color: var(--text);
            font-size: 30px;
            font-weight: 600;
        }
    }

    &Cont {
        display: flex;
        flex-direction: column;
    }
}