@import '../../variables.scss';

.SkillsBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    padding: 50px 10px;
}

.skills {
    
    &Heading {
        color: var(--main);
        font-family: $fontUbuntu;
        font-size: 36px;
        opacity: 0.95;
    }
    
    &Cont {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: space-around;
        width: fit-content;
    }
}