.HireMeBlock {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 50px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hire {

    &Info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }

    &Text {
        &Cont {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 15px;
            justify-content: center;
            width: 400px;
            color: var(--text);
            font-family: var(--font);
        }

        &Heading {
            opacity: 0.95;
            font-size: 48px;
        }

        &Info {
            line-height: 130%;
            font-size: 24px;
            word-spacing: 6px;
        }
    }

    &Button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 125px;
        border-radius: 5px;
        background: var(--main);
        color: var(--textAlt);
        font-family: var(--font);
        font-size: 20px;
        transition: 0.25s ease-in-out;

        &:hover {
            background: var(--backgroundAlt);
            color: var(--main);
        }

        &:active {
            background: var(--sub);
            color: var(--text);
        }
    }
}